<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="cards">
        <div class="inputs">
                <div class="variableKeys">
                    <h3 style="color: black; text-align: center; "><b>Variables</b></h3><br>
                    <button> Endpoint 1</button> <br><br>
                    <button> Endpoint 2</button> <br><br>
                    <button> Weights </button> <br><br>
                </div>
                <div class = "line1Inputs">
                    <h3 style="color: blue; text-align: center"><b>Line 1</b></h3><br>
                    <input type="text" placeholder=" x1,y1"><br><br>
                    <input type="text" placeholder=" x2,y2"><br><br>
                    <input type="number" step="0.01" placeholder=" 0 to 1"><br><br>
                </div>
                <div class = "line2Inputs">
                    <h3 style="color: yellow; text-align: center"><b>Line 2</b></h3><br>
                    <input type="text" placeholder=" x1,y1"><br><br>
                    <input type="text" placeholder=" x2,y2"><br><br>
                    <input type="number" step="0.01" placeholder=" 0 to 1"><br><br>

                </div>
        </div>
        <div class="otherVar">
            <button >data size</button>
            <input style="margin: auto 100px" type="number" step="50" min= 50 max= 250 placeholder=" 50 to 250"><br><br>
            <button> Shift-rate</button>
            <input style="margin: auto 100px"  type="number" step="0.1" placeholder=" 0.1 to 3"><br><br>
        </div>
        <div class="submit">
            <input type="submit" id = submit>
        </div>
    </div>


</body>
</html>