
.sample{
  vertical-align: top;
  display: inline-block;
}
.parent{
  margin: 20px;
  width: 100%;
;}

body {
  background-image: url('bsck.jpg');
  background-size: cover;
  background-position: center center;
  /* background-position-x: right;
  background-position-y: bottom; */
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  /* background: #000; */
}

.cards{
    background: linear-gradient(135deg, #00feba 0%, #5b548a 100%);
    border-radius: 20px;
    color: #fff;
    /* width: 750px; */
    height:auto;
    padding: 25px;
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.table input, .section input{
    /* width: 100%; */
    padding: 5px;
    font-size: 20px;
}
#variables, .section label{
  border: 1px solid #000;
  color: white;
  background-color: gray;
  text-align: center ;
  padding: 5px;
}

.table{
  font-size: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap: 15px;
column-gap: 15px;
text-align: left;

}
.form-footer{
  margin-top: 15px;

}
#submitBtn{
  background-color: #0cdb55;
  color: #fff;
  border-radius: 5px;
  margin-left: 50px;
  cursor: pointer;
  padding: 15px;
  border:None;
  font-size: 20px;
}

#resetBtn{
  background-color: #6d071b;
  color: #fff;
  border-radius: 5px;
  margin-left: 350px;
  cursor: pointer;
  border:None;
  padding: 15px;
  font-size: 20px;
}

.section{
    margin-top: 20px;
    margin-left: 50px;
}
.section input{
    width: 200px;
    padding: 5px;
}

.lists{
  background: linear-gradient(135deg, #00feba 0%, #5b548a 100%);
    font-size: 25px;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 150px 50px;
    row-gap: 15px;
    column-gap: 29px;
    width: 480px;
}

.lists p{
  margin: 0;
  padding: 0;
}
.utility, .assets{
    font-size: 25px;
    border-radius: 50px;
    padding: 5px;

}
.dropdown{
    display: inline-block;
    margin-left: 50px;

}
.parent2{
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: 1fr 800px;
  column-gap: 30px;
}
.map{
  background: #000;
}
.rules{
  background: white;
  height: 500px;
}

#mapBck{
  height: 100%;
  border: 5px solid black;
  cursor: pointer;
}

#floating-panel input{
  /* width: 100%; */
  padding: 5px;
  font-size: 20px;
  /* margin-bottom: 10px; */
  height: 40px;
  text-align: center;
  /* background: black; */
/
}

#floating-panel {
  display: inline-block;
  /* top: 10px; */
  background-color: white;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

#search-container{
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 0px;
  width: 500px;
  height: auto ;
}
#search-input{
  width: 70%;
  height: 40px;
  border-radius: 100px;
  font-size: 20px;
  border: 3px solid #000;
  background-color: rgb(244, 239, 239);
  color: black;
  padding-left: 20px;
}
#search-button{
  width: 20%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #0cdb55;
  color: #fff;
  border:None;
  cursor: pointer;
}
ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: inline-block;
  /* overflow: hidden; */
}

/* Style for the list items within the navigation menu */
ul.nav-menu li {
  float: left;
}

/* Style for the links in the navigation menu */
ul.nav-menu li a {
  margin-left: 5px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}

.ruleAdd p{
  display: inline-block;

 }
.ruleAssets{
  display: inline-block;
}

#show-markers{
  background: green;
  color: white;
}

#delete-markers{
  background: red;
  color: white;
}

#hide-markers{
  background: black;
  color: white;
}

#delete-single-markers{
  background: yellow;
  color: black;
}

#defaultRule table{
  margin-top: 300px;
  background: #052510;
  color: white;
  border: 1px solid #ddd;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

#defaultRule table th, #defaultRule table td {
  border: 1px solid #ddd;
  padding: 8px;
}

