<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Document</title>
</head>

<body>
    <script type="module" src="static/main.js"></script>
    <div class="parent">
        <div class="cards">
            <form id= "myForm" action="{{ url_for('home')}}" method="POST" onsubmit="return validate()">
                <div class="table">
                    <div>VARIABLES</div>
                    <div ><b>LINE_1</b></div>
                    <div><b>LINE_2</b></div>
                    <div id="variables">Endpoint 1</div>
                    <div><input type="text" name='line1a' id="line1a" placeholder=" x1,y1" required></div>
                    <div><input type="text"name='line2a' id="line2a" placeholder=" x1,y1" required></div>
                    <div id="variables">Endpoint 2</div>
                    <div><input  type="text" name='line1b' id="line1b" placeholder=" x2,y2" required></div>
                    <div><input  type="text" name='line2b' id="line2b" placeholder=" x2,y2" required></div>
                    <div id="variables">Weights</div>
                    <div><input  type="number" name="weight_1" id="weight_1" step="0.01" placeholder=" 0 to 1" required></div>
                    <div><input  type="number" name="weight_2" id="weight_2" step="0.01" placeholder=" 0 to 1" required></div>

                </div>
                    <div class="section">
                    <label for="section">Section</label>
                    <input type="number" name="section" id="section" step="0.05" placeholder=" 0 to 1" required>
                    <label for="shiftSize">Shift Size</label>
                    <input type="number" name="shift_size" id="shift_size" step="0.05" placeholder=" 0.1 to 5" required>
                </div>
                <div class="form-footer">
                    <button id ="submitBtn" type="submit">Generate Plot</button>
                    <button id ="resetBtn" type="reset" >RESET</button>
                </div>
               </form>
             </div>
    <div class="dropdown">
            <div class="lists">
                <div><label style="margin-right:10px;">Utility Class</label></div>
                <div><select id="utility" class="utility">
                    <option value="Electrical">Electrical</option>
                    <option value="Gas">Gas</option>
                    <option value="Telecom" >Telecom</option>
                    <option value="Water" >Water</option>
                    <option value="Sanitary" >Sanitary</option>
                    <option value="Stormwater" >Stormwater</option>
                </select>
                </div>
                <div><label >Utility</label></div>
                <div>
                    <select class="assets" id="assets"></select> <br>
                </div>
            </div>
    </div>
    </div>
    <div id="floating-panel">
        <input id="hide-markers" type="button" value="Hide Markers" />
        <input id="show-markers" type="button" value="Show Markers" />
        <input id="delete-markers" type="button" value="Delete Markers" />
    </div>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Enter a location">
        <button id="search-button">Search</button>
    </div>
    <div class="parent2">
        <div class="map">

            <div id="mapBck"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIXB-N-0noBQTTq_slX9n7u4PBDJBb5Nc&callback=initMap&v=weekly"
                defer
            ></script>

        </div>


        <div class="rules">
            <p>Utility rule here</p>
        </div>
    </div>
</body>
</html>